nav{
    width: 100%;
    min-width: 954px;
    height: 45px;
    background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
    position: relative;/* 购物车相对container定位 */
    z-index: 21;
}
/* logo */
nav>h1{
    float: left;
    margin-left: 21px;
    padding: 13px 0 0;
}
.logo{
    background: url(../img/logo.png) no-repeat 50%;
    background-size: contain;/* 把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域 */
    display: block;
    height: 18px;
    width: 18px;
    text-indent: -9999px;/* 只显示背景图片又要有超链接，这个时候对a设置text-indent:-9999px，这样a标签里文字就隐藏掉了，但是超链接也被保留了 */   
    transition: none;/* 取消过渡 */ 
    text-decoration: none;/* 取消文字修饰 */
}
/* logo */
/* 导航 */
.container{
    margin: 0 auto;
    width: 1220px;
}
.container>ul{
    line-height: 28px;
    float: right;
    margin: 9px 181px 0 0;
}
.container>ul>li{
    float: left;
}
.container>ul>li>a:hover{
    color: white;
    transition: all .5s ease-out;
}
.container>ul>li>a{
    color: hsla(0,0%,100%,.7);
    display: block;
    font-size: 12px;
    padding: 0 20px;
}
/* 利用:after插入新空元素清除浮动 */
.container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* 导航 */
/* 用户与购物车 */
nav>ul>li>a::before{
    content: " ";
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    height: 20px;
    background: url(../img/header/shop_car1.png) 50% no-repeat;
    background-position: 1px 2px;
    background-size: 180%;
}
nav>ul>li>a{
    display: block;
    width: 20px;
    height:20px;
    position: relative;
    margin-left: 8px;
}
nav>ul>li{
    position: relative;
    margin-left: 41px;
    width: 36px;
    float: left;
}
nav>ul{
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    right: 21px;
}
nav>ul>div>li>a::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 1px;
    bottom: 0;
    width: 20px;
    background: url(../img/header/shop_car1.png) no-repeat;
    background-position: 0 -17px;
    background-size: 180%;
}
nav>ul>div>li>a{
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;/*相对li定位*/
    height: 20px;
}
nav>ul>div>li{
    margin-left: 10px;
    width: 20px;
}
nav>ul>div{
    float: left;
}
div.shop-car{
    display: block;
    top: 18px;
    visibility: visible;
    opacity: 0;
    transition: opacity .5s ease-out;
    position: absolute;
    right: 0;
    padding-top: 18px;
    visibility: hidden;
    z-index: 30;
    width: 360px;
}
div.shopcar-list{
    position: relative;
    z-index: 10;
    background: #fff;
    border: 0 solid hsla(0,0%,100%,.01);
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.06), 0 20px 40px rgba(0,0,0,.15);
    overflow: hidden;
}
div.shopcar-img{
    height: 134px;
    padding-top: 180px;
    background: url(../img/header/shop_car.png) center 90px no-repeat;
    background-size: auto 62px;
    text-align: center;
}
div.shopcar-img>h3{
    font-size: 18px;
    color: #333;
    margin-bottom: 7px;
    font-weight: 400;
}
div.shopcar-img:last-child{
    font-size: 12px;
    color: #bcbcbc;
}
/* 用户与购物车 */
/* 第二行导航 */
.nav-sub{
    background: white;
    width: 100%;
    min-width: 1400px;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.05);
    position: relative;
    z-index: 20;
}
.nav-sub>.contain{
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.nav-sub>.contain>ul>li>a{
    display: block;
    padding: 0 15px;
    color: rgba(0,0,0,.7);
    font-size: 14px;
}
.nav-sub>.contain>ul>li>a.active{
    color: black;
    font-weight: 800;
}
.nav-sub>.contain>ul>li>a:hover{
    color: cornflowerblue !important;
}
.nav-sub>.contain>ul>li{
    float: left;
}
.nav-sub>.contain>ul{
    padding: 23px 0;
    line-height: 28px;
    margin-left: 415px;
}
.nav-sub>.contain>div.nav-search{
    position: absolute;/*相对于contain定位*/
    right: 345px;;
    width: 330px;
}
.nav-sub>.contain>div.nav-search>div.search{
    position: relative;
}
.search-form{
    height: 36px;
    padding-left: 40px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 20px;
    box-sizing: border-box;
    background: #fff;
    padding-right: 15px;/*防止input超出搜索框*/
}
form.search-form>button{
    position: absolute;
    top: 7px;
    left: 10px;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
    background-size: 20px,20px;
    background-color: transparent;
    background-image: url(../img/header/search.png);
}
form.search-form>input{
    width: 100%;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}
form.search-form>div{
    position: absolute;
    top: 50%;
    height: 20px;
    line-height: 20px;
    right: 0;
    transform: translateY(-50%);
}
form.search-form>div>a{
    display: inline-block;
    margin-right: 8px;
    text-decoration: none;
    border-radius: 10px;
    height: 20px;
    padding: 0 10px;
    color: #3965cc;
    border: 1px solid #93b2f7;
    background: #e5efff;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 700;
}
/* 推荐列表 */
div.commend-list{
    position: absolute;
    top: 36px;
    width: 100%;
    left: 0;
}
div.commend-list>div{
    position: relative;
    width: 0;
    height: 0;
    left: 40px;
    border: 10px solid;
    border-color: transparent transparent #cfcfcf;
}
div.commend-list>div>span{
    display: block;
    position: absolute;
    top: -9px;
    left: -10px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff;
}
div.commend-list>ul{
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 30px 75px 0 rgba(0,0,0,.3);
    overflow: hidden;
}
div.commend-list>ul>li:first-child{
    padding-top: 20px;
}
div.commend-list>ul>li:last-child{
    padding-bottom: 20px;
}
div.commend-list>ul>li{
    padding: 10px 20px;
    color: #666;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.commend-list>ul>li>span:hover{
    color: #93b2f7;
    font-weight: bold;
}
/* 推荐列表 */
/* 第二行导航 */
/* 手机展示推荐 */
div.phone-commend{
    height: 415px;
    background: #f5f5f5;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1), 0 2px 8px rgba(0,0,0,.16);
    visibility: hidden;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    bottom: 0;
    opacity: 0;
    transition: all .5s ease-out;
}
div.phone-commend>ul{
    width: 100%;
    height: 270px;
    padding-top: 117px;
    text-align: center;
}
div.phone-commend>ul>li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 234px;
    height: 260px;
    font-size: 14px;
}
div.phone-commend>ul>li::before{
    content: " ";
    display: block;
    position: absolute;
    left: -1px;
    top: 8px;
    width: 1px;
    height: 200px;
    background: #ebebeb;
}
div.phone-commend>ul>li:nth-child(1)::before{
    width: 0px;
    height: 0px;
}
img.phone{
    width: 160px;
    height: 160px;
}
div.phone-name{
    padding-top: 16px;
    line-height: 12px;
    font-size: 12px;
    color: #616161;
}
div.phone-price{
    padding-top: 10px;
    line-height: 14px;
    font-size: 14px;
    color: #d44d44;
    font-weight: 700;
}
/* 手机展示推荐 */